<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/atcoder.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/jquery.mouseinfobox.css" />
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery.mouseinfobox.js"></script>
  <script type="text/javascript">
    var problems = <%= @users.sort_by{|user| -@solved[user].length }.map{ | user| [user,@solved[user].length] }.to_s %>;
  </script>
</head>
<body>

<header class="header">
  <div class="fixbar">
    <h1 id="top"><a href="/">Atcoder 進捗どうですか？</a></h1>
    <ul class="nav navbar-nav">
      <li><a href="/solved/1">ABC</a></li>
      <li><a href="/solved/2">ARC</a></li>
      <li><a href="/solved/3">AGC</a></li>
      <li><a href="/solved/3">OTHER</a></li>
    </ul>
  </div>
</header>
<div class="wrapper">  
  <div id="result"></div>
  
<div >
  <table class="table table-hover">
    <thead>
      <tr>
        <th rowspan="2">rank</th>
        <th rowspan="2">name</th>
        <% @users.each do |user| %>
          <th id=<%= user %>><%= user %>
          </th>
        <% end%> 
      </tr>
    </thead>
    <tbody>
      <% past = "" %>
      <% @contests.sort_by{|a| a[:contest] }.each do |contest| %>
        <% if contest[:contest].to_s.match(/agc/) == nil %>
          <% next %>
        <% end %>
        <% if past != contest[:contest] %>
          <tr>
            <td colspan="<%= @users.length + 3%>"  class="contest_title">
              <%= contest[:contest] %>          
            </td>
          </tr>
        <% end %>
        <% past = contest[:contest] %>
        <tr>
          <td class="rank table_line"><%= contest[:name][0] %></td>
          <td class="title table_line"><a href="http://<%= contest[:contest] %>.contest.atcoder.jp/tasks/<%= contest[:id] %>"><%= contest[:name].split('.')[1] %></a></td>
          <% @users.each do |user| %>
              <% if not @solved[user].find{|item| item == contest[:id]}.nil? %>
                <td class="table_line ac">
                  <p class="text-success show_name" title=<%= user %>>success!</p>
                </td>
              <% else %>
                <td class="table_line">
                </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>
<script>

var w = 500;
var h = problems.length * 30;
var nameSpace = 78;
var solvedSpace = 27;
var xScale = d3.scale.linear()
                .domain([0,500-nameSpace-solvedSpace])
                .range([0,w])

var svg = d3.select("#result").append("svg").attr({width:w, height:h});

svg.selectAll("rect")
    .data(problems)
    .enter()
    .append("rect")
    .attr({
      x: nameSpace+solvedSpace,
      y: function(d,i){return i * 25;},
      width: function(d){return xScale(d[1])},
      height: 20,
      fill: function(d){
        if(d[1] >= 250)return "red";
        if(d[1] >= 200)return "yellow";
        if(d[1] >= 100)return "blue";
        return "green";
      }
    })
svg.selectAll("text.name")
    .data(problems)
    .enter()
    .append("text")
    .attr({
      x: 0,
      y: function(d,i){ return i * 25 + 12;}
    }).text(function(d){
      return d[0].substr(0,10);
    })
      

svg.selectAll("text.hoge")
    .data(problems)
    .enter()
    .append("text")
    .attr({
      x: nameSpace,
      y: function(d,i){ return i * 25 + 12;}
    }).text(function(d){
     return d[1];
    })
      $(function() {
  $(window).on('scroll', function() {
    if ($(this).scrollTop() > 50) {
      $('.header').addClass('fixed');
    } else {
      $('.header').removeClass('fixed');
    }
  });
});
      
$('.show_name').infoBox({ // 吹き出し
  animation: ['opacity', 'bottom'],
  useMouse: false,
  offsetX: 30,
  offsetY: 0
});
  </script>
</body>
</html>